@import "components/card/card.css";
@import "components/search-bar/search-bar.css";
@import "components/nav-button/nav-button.css";
@import "components/nav-pagination/nav-pagination.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: rgb(51, 51, 51);
  --color-secondary: #f6f6f6;
  --green: #9db92e;
  --yellow: #fff8b8;
  --blue: #3695a5;
  --white: #ffffff;
  --light-gray: #ccc;
  --font-family: "Montserrat", sans-serif;
}

body {
  font-family: var(--font-family);
  color: var(--color-primary);
  padding: 30px 20px 80px;
  margin-top: 110px;
  background-color: #f0f0f0;
}

main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  padding: 5px;
  display: flex;
  justify-content: center;
  position: fixed;
  background-color: var(--green);
  color: var(--blue);
  text-shadow: 3px 3px 7px var(--yellow);
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 100;
  font-family: "Annie Use Your Telescope", cursive;
}
